PartyWeb/.vs/
PartyWeb/PartyWeb.Server/bin/
PartyWeb/PartyWeb.Server/obj/
PartyWeb/partyweb.client/node_modules/
PartyWeb/partyweb.client/obj/
PartyWeb/PartyWeb.BusinessObjects/bin/
PartyWeb/PartyWeb.BusinessObjects/obj/
PartyWeb/PartyWeb.Reponsitory/bin/
PartyWeb/PartyWeb.Reponsitory/obj/
PartyWeb/PartyWeb.DataAcess/bin/
PartyWeb/PartyWeb.DataAcess/obj/
PartyWeb/PartyWeb.Services/bin/
PartyWeb/PartyWeb.Services/obj/
PartyWeb/PartyWeb.ModelViews/bin/
PartyWeb/PartyWeb.ModelViews/obj/
PartyWeb/PartyWeb.ModelViews/bin/
PartyWeb/PartyWeb.ModelViews/obj/
PartyWeb/Tools/bin/
PartyWeb/Tools/obj/