/* Định dạng ngoại hình cho header */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* Định dạng văn bản trong header */
h1 {
    color: #333333;
    font-size: 24px;
    margin: 0;
}

/* Định dạng cho các liên kết trong header */
header a {
    text-decoration: none;
    color: #666666;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Định dạng cho logo */
.logo {
    width: 50px;
    height: 50px;
}

/* Áp dụng hiệu ứng sáng màu khi di chuột qua các liên kết */
header a:hover {
    color: #ff0000;
}
/* footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/**/
a{
    text-decoration : none;
}
/**/
.notification-container {
    position: relative;
    z-index: 1000; /* Chỉ số độ ưu tiên cao hơn */
}
.success {
    border-radius: 5px;
    width: 450px;
    height: 60px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #7DDA58;
    cursor: pointer;
    color: black;
    margin: 20px;
    font-weight: bold;
    transition: top 0.5s ease;
}

.success:hover {
    background-color: #C7FCB2;
}

.success:nth-child(2) {
    top: 80px; /* Điều chỉnh vị trí của thông báo thứ hai */
}

.success:nth-child(3) {
    top: 160px; /* Điều chỉnh vị trí của thông báo thứ ba */
}
