/* Định dạng ngoại hình cho header */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

/* Định dạng văn bản trong header */
h1 {
    color: #333333;
    font-size: 24px;
    margin: 0;
}

/* Định dạng cho các liên kết trong header */
header a {
    text-decoration: none;
    color: #666666;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Định dạng cho logo */
.logo {
    width: 50px;
    height: 50px;
}

/* Áp dụng hiệu ứng sáng màu khi di chuột qua các liên kết */
header a:hover {
    color: #ff0000;
}
/* footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/**/
a{
    text-decoration : none;
}
/**/
.notification-container {
    position: relative;
    z-index: 1000; /* Chỉ số độ ưu tiên cao hơn */
}
.success {
    border-radius: 5px;
    width: 450px;
    height: 60px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #7DDA58;
    cursor: pointer;
    color: black;
    margin: 20px;
    font-weight: bold;
    transition: top 0.5s ease;
}

.success:hover {
    background-color: #C7FCB2;
}
.btn.btn-green {
    background: #84b813;
    border-color: #84b813;
    color: #ffffff !important;
    transition: 1s;
}
/**/
.loading-container {
    position: fixed; /* Keep the loading screen on top of other content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex; /* Center content horizontally and vertically */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the loading screen is above other elements */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Spinner border */
    border-radius: 50%; /* Round shape */
    border-top-color: #3498db; /* Animated color */
    animation: spin 1s linear infinite; /* Animation for spinning */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    color: #fff; /* White text */
    font-size: 16px;
    margin-top: 10px; /* Spacing between spinner and text */
}
